@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 50%);
}


@layer base {
  html {
    font-family: 'Inter'; /* ฟอนต์เริ่มต้น */
  }
}